.resultContainer{
    display: flex;
    flex-direction: column;
    height: 120vh;
    overflow: hidden;
}

.centerResults{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.resultDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.card{
    width: 40vw;
    height: 20vw;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 8px 13px 44px -6px #DFDBF7;
}

.card_leftSide{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_leftSide--info{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.card_leftSide--title{
    font-size: 25px;
    color: #000000;
}

.card_leftSide--text{
    font-size: 16px;
    color: #A1A0BD;
}

.card_rightSide{
    position: absolute;
    width: 60%;
    height: 120%;
    top: -30px;
    right: -60px;
    background-color: #F86A30;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.card_rightSide--text{
    z-index: 20;
    font-size: 45px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.conclusionDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
    height: 60vh;
}

.conclusionDiv_text{
    color: #F86A30;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.conslusionDiv_value{
    color: #178BE7;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}