@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap%27");

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 120vh;
  overflow-x: hidden;
  margin-bottom: 100px;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 93px;
  width: 30vw;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  font-size: 69px;
  text-align: center;
  color: #f86a30;
}

.subtitleContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.buttonAdvancedCalculator{
  padding: 10px 16px;
  background-color: #178BE7;
  border-radius: 5px;
  text-decoration: none;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonOrangeAdvancedCalculator{
  padding: 10px 16px;
  background-color: #F86A30;
  border-radius: 5px;
  text-decoration: none;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #555555;
}

.inputVal {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40vw;
}

.input {
  width: 223px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #178be7;
  border-radius: 5px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}

.buttonDivCalc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerSize{
  width: 50vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1025px) {
  .titleContainer {
    margin-top: 93px;
    width: 70vw;
  }
  
  .subtitleContainer {
    margin-top: 32px;
    width: 70vw;
  }
  
  .subtitle {
    line-height: 100%;
  }

  .inputVal {
    flex-direction: column;
    width: 60vw;
  }

  .input {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .calculatorButton {
    width: 60vw;
  }
  
  .calculatorButtonText {
    font-size: 18px;
  }
}

@media screen and (max-width: 426px) {
  .titleContainer {
    margin-top: 93px;
    width: 70vw;
  }
  
  .subtitleContainer {
    margin-top: 32px;
    width: 70vw;
  }
  
  .subtitle {
    line-height: 100%;
  }

  .inputVal {
    flex-direction: column;
    width: 60vw;
  }

  .input {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .calculatorButton {
    width: 60vw;
  }
  
  .calculatorButtonText {
    font-size: 12px;
  }
}