@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 60px;
}

.NavBar ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.NavBar ul li{
  margin: 0 10px;
}
.NavBar ul li a{
  text-decoration: none;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #178BE7;
}

.NavBar ul li :hover{
  color: #F9A048;
}

.image {
  width: 121px;
  height: 84.63px;
}

@media screen and (max-width: 1025px) {  
  .image {
    width: 96.8px;
    height: 67.7px;
  }
}