@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.button{
    padding: 10px 16px;
    background-color: #178BE7;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
}

.button-orange{
    padding: 10px 16px;
    background-color: #F86A30;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
}

.button_text{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .button_text{
        font-size: large;
    }
}

@media screen and (max-width: 426px) {    
    .button_text{
        font-size: small;
    }
}