:root{
    --orange: '#F86A30';
    --lighterOrange: '#F9A048';
    --green: '#026873';
    --blue: '#178BE7';
    --lighterBlue: '#42C4ED';
    --gray: '#555555';
    --white: '#FFFFFF';
    --black: '#000000';
}