.coverDiv{
    position: relative;
    text-align: center;
    color: white;
}
.cover{
    width: 100vw;
}
.coverText{
    font-size: 53px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textContainer{
    margin-top: 60px;
    width: 45vw;
}

.informationsContainer{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.sectionText{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #555555;
    margin: 0 0 40px 0;
}

.sectionText{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #555555;
}

.sectionText ul{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.sectionTitle{
    color: #F86A30;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

.logoDiv{
    margin: 80px 20vw;
    display: flex;
    flex-direction: row-reverse;
}

.logo{
    width: 96.8px;
    height: 67.7px;
}