@import url("../../globalStyles.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.sideImage{
    width: 50vw;
    height: 70vh;
}

.insideContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftSide{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 85vh;
    align-items: flex-start;
    margin-left: 60px;
}

.leftSide_callToAction{
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.leftSide_callToAction--title{
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #F86A30;
    margin: 0;
}

.leftSide_callToAction--text{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #555555;
    margin: 18px 0;
}

.rightSide{
    display: flex;
    width: 50vw;
    height: 85vh;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 0;
}

@media screen and (max-width: 1025px) {
    .container{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        height: 100vh;
        overflow: hidden;
    }

    .insideContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: -60px;
    }

    .leftSide{
        display: flex;
        flex-direction: column;
        width: 70vw;
        align-items: flex-start;
    }

    .rightSide{
        display: hidden;
    }
}

@media screen and (max-width: 426px) {
    .leftSide_callToAction--title{
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #F86A30;
        margin: 0;
    }
    
    .leftSide_callToAction--text{
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #555555;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        height: 100vh;
        overflow: hidden;
    }

    .insideContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: -60px;
    }

    .leftSide{
        display: flex;
        flex-direction: column;
        width: 65vw;
        align-items: flex-start;
    }

    .rightSide{
        display: hidden;
    }
}